<header>
  <nav>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
      <div data-html2canvas-ignore="true" fxFlex class="text--left" *ngIf="!hideBackButton">
        <a class="icon__back" routerLink="/">
          <mat-icon class="icon__back">
            arrow_back
          </mat-icon>
        </a>
      </div>
      <div fxFlex="80" class="text--center" *ngIf="(teamName && pi)">
        Planning for pi: {{ pi }}, team:  {{ teamName }}
      </div>
      <div data-html2canvas-ignore="true" fxFlex class="text--right">
        <a class="icon__image" href="https://console.firebase.google.com/u/0/project/piplan/database" target="_blank">
          <img src="assets/images/firebase.png">
        </a>
      </div>
    </div>
  </nav>
</header>
