@import "../../../styles/mixins";

:host(piplan-header) {
  padding-top: 0;
  padding-bottom: 3rem;
  display: grid;

  header {
    position: fixed;
    z-index: 999;
    width: 100%;

    nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: calculateRem(8px) calculateRem(16px);
      height: 2rem;
      background: linear-gradient(to right, #0800b9, #00a1de);
      color: white;
      .icon__image {
        width: calculateRem(15px);
        height: calculateRem(15px);
      }

      img {
        vertical-align: middle;
      }

      .icon__back {
        width: calculateRem(15px);
        height: calculateRem(15px);
        color: $secondary--color;
      }
    }
  }
}

@media (max-width: 807px) {
  #today {
    width: 50%;
  }

  #logo {
    display: none;
  }
}

@media (max-width: 680px) {
  :host(piplan-header) {
    padding-top: 0;
    padding-bottom: 1rem;

    header {
      position: relative;

      nav {
        height: 7rem;
        display: flex;
        padding: 1rem 2rem 0;

        > div {
          margin-top: 1rem;
        }

        #today {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  :host(piplan-header) {
    padding-bottom: 0;

    header {
      nav {
      }
    }
  }
}
