mat-card-title, mat-card-subtitle, .mat-card-image {
  cursor: pointer;
}

mat-radio-button {
  color: black;
  margin-bottom: 5px;
}

#team-list {
  margin-top: 16px;
}
.piplan-homepage-button {
  margin-top: 10px;
}
