<piplan-header hideBackButton="true"></piplan-header>

<piplan-loading *ngIf="!programIncrements && !teams"></piplan-loading>

<h1  *ngIf="programIncrements && teams" class="header__title">Select ProgramIncrement and Team
</h1>

<div *ngIf="programIncrements && teams" fxLayout="row">
  <div fxFlex="10"></div>
  <div fxFlex="20">

    <mat-radio-group #radioGroup>
      <div *ngFor="let programIncrement of programIncrements">
            <mat-radio-button color="primary"
             [value]="programIncrement.id"
             [checked]="programIncrement.selected"
             class="mat-menu-item"
             (change)="setSelectedProgramIncrement(programIncrement.id)">
         {{programIncrement.name}} - {{programIncrement.start}}
        </mat-radio-button>
      </div>
    </mat-radio-group>

  </div>

  <div fxFlex="20">
    <mat-form-field>
      <mat-select placeholder="select your Team" [(value)]="selectedTeam">
        <mat-option *ngFor="let team of teams" [value]="team.jiraPrefix">
          {{ team.jiraPrefix }} - {{ team.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p>You selected: {{selectedTeam}}</p>

  </div>

  <div fxFlex="20">
    <div class="piplan-homepage-button">
      <button [disabled]="!(selectedProgramIncrement && selectedTeam)" mat-button mat-raised-button (click)="viewPlanning(selectedProgramIncrement, selectedTeam)">View Planning</button>
    </div>

    <div class="piplan-homepage-button">
      <a mat-raised-button routerLink="/teams">
        Teams
      </a>
    </div>
    <div class="piplan-homepage-button">
        <a mat-raised-button routerLink="/programincrements">
          Program Increments
        </a>
      </div>
    </div>

  <div fxFlex="10"></div>
</div>
