.piplan__editablefield {
  display: inline-block;

  &--view {
    display: inline;
    font-weight: inherit;
    font-size: inherit;
    word-break: break-all;
    line-height: 1.3;
    margin-left: 5px;
    font-size: 14px;
    transition: color 0.4s;
  }

  &--edit {
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 14px;
    line-height: 2.5;
    display: none;
  }

  &__canceledit {
    display: none;
  }

  &.editing {
    .piplan__editablefield--view, button.piplan__miniButton {
      display: none;
    }
    .piplan__editablefield--edit {
      display: inline-block;
    }
    button.piplan__miniButton.piplan__editablefield__canceledit {
      display: inline-block;
    }
  }

  & input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
  }

  & input::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
  }

  & input::input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
  }

  & a {
    text-decoration: underline;
    & label {
      color: blue;
    }
  }

}
