<piplan-header></piplan-header>

<div id="left">
  <h2 class="header__title">Product Teams</h2>
  <div>
    <mat-list id="loading-list" *ngIf="!teams">
      loading...
    </mat-list>
    <mat-list>
      <mat-list-item *ngFor="let team of teams" [@fadeInOut]>
        <h3 mat-line (click)="seeTeamDetails(team);"> {{team.jiraPrefix}} </h3>
        <p mat-line (click)="seeTeamDetails(team);">
          <span>{{team.name}}</span>
        </p>
        <p mat-line (click)="seeTeamDetails(team);">
          <span>sprint capacity: {{team.averageSprintCapacity}}</span>
        </p>
        <p mat-line>
          <button class="piplan__miniButton" (click)="setTeamAsEditEditMode(true)">&#x270e;</button>
          <button class="piplan__miniButton" (click)="deleteTeam(team);">&#x2613;</button>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<div id="right" [@fadeInOut]>
  <h2 class="header__title">New Team</h2>
  <div *ngIf="teams">
    <form [formGroup]="teamForm" #form="ngForm" ngxScrollToFirstInvalid
          (ngSubmit)="createNewTeam(teamForm.value)" autocomplete="on">

          <mat-form-field class="input-container">
        <input matInput name="hname" type="text"
               placeholder="Product Team Name"
               formControlName="name">
        <mat-error *ngIf="!teamForm.controls.name.valid && form.submitted">
          Required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-container">
        <input matInput type="text" name="rname"
               placeholder="Jira Prefix"
               formControlName="jiraPrefix">
        <mat-error *ngIf="!teamForm.controls.jiraPrefix.valid && form.submitted">
          Required field
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-container">
        <input matInput type="text" name="raverageSprintCapacity"
               placeholder="average sprint capacity"
               formControlName="averageSprintCapacity">
        <mat-error *ngIf="!teamForm.controls.averageSprintCapacity.valid && form.submitted">
          Required field
        </mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="form.submitted && !teamForm.valid">
        add
      </button>
      <div *ngIf="error">An error occurred.</div>
    </form>
  </div>

</div>
<div class="clear"></div>
