<piplan-header></piplan-header>

<div fxLayout="row">
  <div fxFlex="10"></div>
  <div fxFlex="80">

    <h2 class="header__title">Product Teams
    <button class="piplan__miniAddButton" (click)="addTeam()">add team</button>
    </h2>
    <piplan-loading [@fadeInOut] *ngIf="!teams"></piplan-loading>

    <mat-table [@fadeInOut] [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef mat-sort-header> edit </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button class="piplan__miniButton" (click)="updateTeam(element)">&#x270e;</button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="jiraPrefix">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Jira Prefix </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.jiraPrefix }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Team Name </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="averageSprintCapacity">
        <mat-header-cell *matHeaderCellDef mat-sort-header> averageSprintCapacity </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.averageSprintCapacity }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef mat-sort-header> delete </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button class="piplan__miniButton" (click)="deleteTeam(element);">&#x2613;</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </div>
  <div fxFlex="10"></div>
</div>
