<div id="piplan_planning">

  <piplan-header teamName="{{ team && team.name }}" pi="{{ pi }}"></piplan-header>

  <piplan-loading *ngIf="!planning"></piplan-loading>
  <button  data-html2canvas-ignore="true" class="piplan__miniAddButton piplan_pdfbutton" (click)="captureScreen()">export pdf</button>

  <div cdkDropListGroup>

    <div class="piplan__sprint" data-html2canvas-ignore="true">
      <div class="piplan__sprint__heading">
        <h2 class="piplan__sprint__heading__title">backlog</h2>
        <div class="piplan__sprint__add-to-backlog">
          <button class="piplan__miniAddButton" (click)="createNewStory()">add story</button>
        </div>
      </div>
      <div cdkDropList class="piplan__stories"
          [cdkDropListData]="{sprint: 'backlog', stories: getStories('backlog')}"
          (cdkDropListDropped)="drop($event)">

        <div cdkDrag
            *ngFor="let story of getStories('backlog')"
            [cdkDragData]="story"
            [cdkDragDisabled]="!story.editing == ''">

          <piplan-story [story]="story"></piplan-story>

        </div>
      </div>
    </div>

    <div class="piplan__sprint"
        *ngFor="let sprint of sprints; let i = index">
      <div class="piplan__sprint__heading">
        <h2 class="piplan__sprint__heading__title">{{ sprint.name }}</h2>
        <div class="piplan__sprint__heading__sprintstart">
          {{ getStartOfSprint(i) }}
          <span *ngIf="getNumberOfHolidays(i) > 0">
            (<img src="assets/images/beach-palm.png" style="height: 14px;">
            {{ getNumberOfHolidays(i) }} )
          </span>
        </div>
        <div class="piplan__sprint__capacity">
          capacity:
          <button data-html2canvas-ignore="true" class="piplan__miniButton" (click)="changeSprintCapacity(sprint, 1)">+</button>
          <button data-html2canvas-ignore="true" class="piplan__miniButton" (click)="changeSprintCapacity(sprint, -1)">-</button>
          {{ sprint.capacity || '?' }}
        </div>
        <div class="piplan__sprint__heading__pointtotal piplan__points">
          {{ getPoints(sprint.name) }}
        </div>
      </div>

      <div cdkDropList class="piplan__stories"
          [cdkDropListData]="{sprint: sprint.name, stories: getStories(sprint.name)}"
          (cdkDropListDropped)="drop($event)">

        <div cdkDrag
            *ngFor="let story of getStories(sprint.name)"
            [cdkDragData]="story"
            [cdkDragDisabled]="!story.editing == ''">

          <piplan-story [story]="story"></piplan-story>

        </div>
      </div>

    </div>

    <div class="piplan__sprint" data-html2canvas-ignore="true">
      <div class="piplan__sprint__heading">
        <h2 class="piplan__sprint__heading__title">trashcan</h2>
      </div>
      <div cdkDropList class="piplan__stories piplan__trashcan"
          (cdkDropListDropped)="trashcan($event)">
      </div>
    </div>
  </div>

</div>

